<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


  <!-- Font Awesome Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <!-- External Font from GOOGLE FONT-->
  <!--
      font-family: 'Pacifico', cursive;
      font-family: 'Quicksand', sans-serif; -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;500;600;700&display=swap"
    rel="stylesheet">


  <!-- App CSS -->

  <!-- Style from header.css -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- Style from buyer-main-page
  <link rel="stylesheet" href="/styles/buyer-main-page.css" type="text/css" /> -->
  <!-- Style from footer.css -->
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/soldButton.js"></script>


  <!-- Title and Favicon -->
  <title>Cake It Up</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.png">


  <!-- insert header from _header -->
  <%- include('partials/_header') %>

<body>

    <body>
<!-- SHOW ALL CAKES SECTION START HERE  -->
    <section class="cakes-container">
      <div class="heading">
          <h1> Check Out All Of Our Cakes</h1>
      </div>
      <br>
    <% for (let cake in cakes) { %>

      <!-- Function to remove the ! at the end of SOLD!
      We use this to dynamic change the class of button without JS by inject data directly to a class of CSS-->
      <% const magic = cakes[cake].cake_status.toLowerCase().replace(/!+$/, '') %>

      <!-- Each Cake Display -->
      <div class="display-wrap">
        <div class="cake-display">
          <div class="fav-icon">
            <i class="fa-solid fa-heart"></i>
          </div>
          <div class="cake-photo">
            <img class="cake-photo" src="<%= cakes[cake].cake_photo_url %>" alt="">
          </div>
          <div class="cake-info">
            <p>
            <h3>
              <%= cakes[cake].title %>
            </h3>
            </p>
            <p>
            <h5>
              <%= cakes[cake].description %>
            </h5>
            </p>
            <p class="price">
             $<%= cakes[cake].price %>
            </p>

          </div>

          <!-- CAKE STATUS AND CONTACT SELLER SECTION -->

            <!-- cake_status AVAILABLE/SOLD-->
          <div class="status-contact">
            <form  action="/update/<%= cakes[cake].id %>" method="POST">
              <button id="sold" name="cake-status" class="cake-status <%= magic %>"> <%= cakes[cake].cake_status %> </button>
            </form>

            <!-- contact seller button -->
            <form action="/delete/<%= cakes[cake].id %>/" method="POST">
              <button class="contact-seller-btn">Delete</button>
            </form>
          </div>
        </div>
      </div>

      <% } %>

<style>
  .sold-red{
    color: red;
    font-size: 3rem;
  }
</style>

  </section>
  <!-- product section end here  -->
</body>
<!-- insert header from _footer -->
<%- include('partials/_footer') %>

</html>
